extends ./layout
block content
  a-scene
    a-assets
      img(id="box" src="img/tex_box.jpg")
    a-box(depth="1" width="1" height="1" opacity="1" position="1 0 -5" src="#box")
    a-sky(color="#73D7DD")